.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    margin-top: 0 !important;
    position: absolute!important;
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#inp1-button, #inp2-button {
    color: #ffffff!important;
    padding: 0.6rem 1rem!important;
    text-decoration: none!important;
    display: block!important;
    font-size: 1.3rem;
}

#inp1-button:hover, #inp2-button:hover {
    color: #ba0f00!important;
}

.dropdown-menu a:hover {background-color: rgba(221, 221, 221, 0);}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(62, 142, 65, 0);
}

a:not([href]):not([tabindex]) {
    color: white!important;
}

a:hover {
    text-decoration: none;
    color: #ba0f00;
}

a  {
    color: #ffffff;
    text-decoration: none;
    font: 2rem Raleway;
    margin: 0 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.mid a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font: 1.3rem Raleway;
    padding: 12px 35px;
    position: relative;
}

.navcust
{
    color: rgb(207, 207, 207);
    background: rgba(43, 43, 43, 0);
}

.navbar {
    position: relative;
    z-index: 30;
    transform-style: preserve-3d;
}

.navmar {
    margin-top: 8vh;
}

#ntopnav a:hover
{
    margin-left: -2rem;
    font-size: 1.7rem;
    color: #ba0f00;
}

div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 60%;
    width: 2px;
    content: '';
    background: rgba(186, 15, 0, 0.6);
    transition: all 1s;
}

div.borderYtoX a:before
{
    left: 0;
    top: 10px;
}

div.borderYtoX a:after
{
    right: 0;
    bottom: 8px;
}

div.borderYtoX .dropdown-menu a:after
{
    right: 15px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

div.borderYtoX .dropdown-menu a:hover:before, div.borderYtoX .dropdown-menu a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 92%;
}

.mid {
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: -8vh;
    z-index: 30;
    background: rgba(0, 0, 0, 0.8);
}

.sticky .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
}

.sticky .mid {
    margin-right: 1rem;
}

.sticky .mid a {
    font: 1.2rem Raleway;
}

.sticky + .container {
    margin-top: 16vh;
}

.content {
    margin-top: 6.5vh;
    position: relative;
    z-index: 1;
    color: whitesmoke;
}

.btn-cust {
    padding-left: 3rem;
    padding-right: 3rem;
    border-color: #BA0F00!important;
    color: #BA0F00!important;
}

.btn-cust:hover {
    transform: translateZ(20px);
    border-color: #BA0F00!important;
    color: navajowhite!important;
    background-color: #BA0F00!important;
}

.form-group:hover {
    transform: translateZ(20px)
}

.card {
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 2px 10px rgba(186, 15, 0, 0.6);
    transform-style: preserve-3d;
}

.card-header {
    box-shadow: 0px 1px 1px rgba(186, 15, 0, 0.5);
    color: #a5a5a5;
}

.card-header h4:hover {
    transform: translateZ(20px)
}

.container-custom {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 20%;
}

.container {
    padding-top: 2%;
    text-align: center;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

#nextBtn {
    padding-left: 3rem;
    padding-right: 3rem;
}

#nextBtn:hover {
    transform: translateZ(20px);
}

#prevBtn {
    padding-left: 3rem;
    padding-right: 3rem;
}

#prevBtn:hover {
    transform: translateZ(20px);
}

footer {
    border-top: 1px solid;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
    color: lightgray;
}

#input-container {
    background-color: rgba(38, 38, 38, 0.48);
    padding-top: 2%;
    min-height: 60vh;
}

.about-container {
    background-image: url("../images/bghome6.jpg");
    background-position: left;
    background-attachment: fixed;
}

#about {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: navajowhite;
    min-height: 30vh;
    padding-top: 2%;
}

.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.about-container {
    padding-right: 0;
    padding-left: 0;
}

.fluid-custom {
    margin-top: 4rem;
}

.content {
    margin-bottom: 0;
}

.main-content {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 2%;
}

.top-margin {
    margin-top: 2rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#contact {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.carousel-container {
    padding-right: 0;
    padding-left: 0;
}

.entry-container {
    min-height: 65vh;
}

.entryRow {
    margin-top: 15vh;
}

.linkto:hover {
    cursor: pointer;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9!important;
}

#main {
    min-height: 80vh;
    padding-bottom: 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    background: transparent;
    border: 0!important;
    box-shadow: 0px 0px 0px 0px!important;
    z-index: 300;
}

.bounce1 {
    -moz-animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
    background: transparent;
    border: 0!important;
    box-shadow: 0px 0px 0px 0px!important;
    z-index: 300;
}

.btnBottom {
    margin-top: 22vh;
}

.contentMain {
    margin-top: 20vh;
}

p {
    color: navajowhite!important;
    font-weight: lighter;
}

.footer-text {
    color: lightgray;
}

span {
    color: navajowhite;
}

h1 {
    color: #6e706e;
}

.site-info {
    background-color: #000000;
    min-height: 37vh;
}

#output-nav {
    background: rgba(0, 0, 0, 0.8);
    margin-top: 0;
    position: fixed;
}

#output-nav .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
}

.btn-none {
    background: transparent;
    border: 0!important;
    box-shadow: 0px 0px 0px 0px!important;
}

.accordion td {
    color: white;
}

.accordion th {
    font-weight: normal!important;
}

.output-card {
    margin-bottom: 0px!important;
}

.rowLiver {
    padding-right: 2%!important;
}

#login-button a:not([href]):not([tabindex]):hover {
    margin-left: 2rem;
    font-size: 2rem !important;
}

@media (max-width: 991px) {

    .navcust {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
        -webkit-transition: .3s;
        transition: .3s;
        font: 4rem Raleway;
    }

    #login-button a {
        font-size: 2.3rem !important;
    }

    .navbar a {
        font-size: 2rem;
    }

    .navbar-brand a {
        font-size: 4rem;
    }

    .dropdown-menu {
        background: rgba(0, 0, 0, 0.9);
    }

    .sticky .mid a {
        font: 2rem Raleway;
    }

    .navbar-toggler {
        font-size: 3rem;
        margin-left: 30vw;
    }
}
