body {
    background-image: url("../images/bghome-blur.jpg");
    background-position: left;
    background-attachment: fixed;
}

th {
    font-weight: bold!important;
    font-size: 1.1rem!important;
}

td {
    font-size: 1.1rem!important;
}

#RegisterForm {
    margin-top: 2%;
}

.navmar {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    #RegisterForm {
        margin-top: 10%;
    }
}