{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../../static/smart/images/favicon2.ico">

    <link rel="stylesheet" href="{% static 'smart/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/allElements.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/parallax.css' %}">

    <script type="text/javascript" src="{% static 'smart/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/parallax.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
            integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy"
            crossorigin="anonymous"></script>

    <title>{% block title %} Smart Medical Diagnosis {% endblock %}</title>
</head>
<body style="background-color:black">

<!--<div style="position: fixed;bottom: 0;right: 0;">
    <form action="http://google.com">
        <input type="submit" value="Go to Google"/>
    </form>

</div> -->
<div class="parallax-container" id="main">
    <div class="parallax">
        <img src="{% static 'smart/images/bghome10.jpg' %}"/>
    </div>
    <div class="main-content">
        <div id="nav-bar">
            <nav class="navbar navbar-expand-sm navbar-dark navcust navmar">
                <div>
                    <div class="navbar-brand link-font py-0">
                        <a href="/">SmartDiag</a>
                    </div>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ntopnav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="mid">
                    <div class="borderYtoX collapse navbar-collapse" id="ntopnav">
                        <ul class="nav navbar-nav mr-auto py-0">
                            <li><a href="/#main">HOME</a></li>
                            <li class="dropdown">
                                <a class="dropbtn" href="" data-toggle="dropdown">CATEGORY</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item inp1-button" href="/#input" id="inp1-button">Liver</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item inp2-button" href="/#input" id="inp2-button">Breast
                                        Cancer</a>
                                </div>
                            </li>
                            {% block historyNav %}
                                <li><a href="{% url 'smart:history' %}" id="about-button">HISTORY</a></li>
                            {% endblock %}
                            <li><a href="/#about" id="about-button">ABOUT</a></li>
                            <li><a data-toggle="modal" data-target="#modalContactForm" id="cont-button">CONTACT US</a>
                            </li>

                        </ul>
                    </div>
                </div>
                {% block login %}
                    <div class="borderYtoX">
                        <ul class="nav-login float-right nav navbar-nav py-0">
                            <li><a data-toggle="modal" data-target="#modalLoginForm"
                                   href="{% url 'smart:logout_user' %}"
                                   style="font-size: 1.5rem; padding: 8px 18px 12px;" id="login-button">
                                <i class="fas fa-sign-in-alt prefix mr-2"></i>Login</a></li>
                        </ul>
                    </div>
                {% endblock %}

                {% block logout %}
                    <li><a href="{% url 'smart:logout_user' %}"><span class="glyphicon glyphicon-off"
                                                                      aria-hidden="true"></span>&nbsp; Logout</a></li>
                {% endblock %}
            </nav>
        </div>
        {% block out %}
        {% endblock %}
        <div class="container top-margin">
            <div class="row">
                <div class="col-md-6 contentMain">
                    <h1 style="font-size: 4.5rem; font-weight: lighter; color: lightgray">SmartDiag</h1>
                    <h1 style="font-size: 2rem; margin-left: 2rem; margin-top: -0.5rem; font-weight: lighter; color: #9C9C9C">
                        <span style="color: #BA0F00!important;">-</span> Better Prediction</h1>
                </div>
            </div>
            <div class="row btnBottom">
                <div class="col-md-12">
                    <ul class="nav navbar-nav mr-auto py-0">
                        <li><a href="/#entry" class="btn bounce"><img src="{% static 'smart/images/arrow-down.png' %}"
                                                                      width="100px" height="70px"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}

</body>
<script type="text/javascript" src="{% static 'smart/js/multi-form.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/stickynav.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/vanilla-tilt.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/show.js' %}"></script>
</html>