{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-2" for="song_title">{{ field.label_tag }}</label>
        <div class="col-sm-10">{{ field }}</div>
    </div>

    <div class="modal fade" id="modalRegisterForm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate">
                        <label for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate">
                        <label for="orangeForm-email">Your email</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate">
                        <label for="orangeForm-pass">Your password</label>
                    </div>
                    <button class="float-right btn btn-deep-orange">Sign up</button>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a href="#modalLoginForm" data-toggle="modal" data-dismiss="modal" style="color: black!important; font-size: 1.2rem" data-target="#modalLoginForm">Already have an account? Signin</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endfor %}