{% extends 'smart/output.html' %}
{% load staticfiles %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
{% endblock %}


{% block history %}
    {% for liver in liverDiseases %}
        <!--<div class="container">
        <p>{{ liver.name }}</p>
        </div> -->
        <div class="container" id="accordion">
            <h3>Section 1</h3>
            <div>
                <p>
                    Insert Liver Disease report here
                </p>
            </div>
        </div>

    {% endfor %}


    {% for bc in bcDiseases %}

        <div class="container" id="accordion">
            <h3>Section 1</h3>
            <div>
                <p>
                    Insert Breast Cancer report here
                </p>
            </div>
        </div>

    {% endfor %}
{% endblock %}


{% block predict %}
{% endblock %}
