{% extends 'smart/base.html' %}
{% block body %}
    {% load staticfiles %}
    <div class="parallax-container" id="input">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome2.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>INPUT</h1>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <h4>Name:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="name" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Age:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="age" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Gender(M/F):</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="gender" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Total Bilirubin:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="tb" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Direct Bilirubin:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="db" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Alkaline Phosphotase:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="ap" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Alamine Aminotransferase:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="aa" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4> Aspartate Aminotransferase:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="apa" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Total Proteins:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="tp" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Albumin:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="alb" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Albumin Globulin Ratio:</h4>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="abratio" class=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="parallax-container" id="img">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome8.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>Online Image resizer and optimizer</h1>
            {% if image %}
                <div class="row">
                    <div class="col-md-3">
                        <button type="button"><a href="/smart/imageView{{ image.id }}/">View Image</a></button>
                    </div>
                </div>
                <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="/media/images/jug5.jpg" width="30px"/></a>
            {% else %}
                <form action="/smart/imageUpload/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Image: </h3>
                        </div>
                        <div class="col-md-3">
                            <input type="file" name="image" class=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="iname">Image Name:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="iname" class="form-control" id="iname" placeholder="Image Name"
                                   value="" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Add Record</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="parallax-container" id="about">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome7.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>ABOUT</h1>

            <button id="hide">Try it</button>

            <div id="myDIV">
                This is my DIV element.
            </div>
        </div>
    </div>
    <div class="parallax-container" id="contact">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome6.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>CONTACT US</h1>
        </div>
    </div>
{% endblock %}