{% extends 'smart/base.html' %}
{% block body %}
    {% load staticfiles %}
    <div class="parallax-container" id="input">
        <div class="parallax">
            <img src="{% static 'smart/images/blur2.jpg' %}"/>
        </div>
        <div class="content container">
            <div class="initial">
                <h3>Select your category to enter details</h3>
                <div class="container-fluid fluid-custom">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card " data-tilt data-tilt-max="5" data-tilt-speed="100"
                                         data-tilt-perspective="100">
                                        <div class="card-header"><a class="inp1-button" href="#input" style="font-size: 1.5rem;">Liver</a></div>
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus nunc eget elementum mollis. Fusce tincidunt ex sed ipsum lobortis, eu condimentum risus rutrum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" data-tilt data-tilt-max="5" data-tilt-speed="100"
                                         data-tilt-perspective="100">
                                        <div class="card-header"><a class="inp2-button" href="#input" style="font-size: 1.5rem;">Breast Cancer</a></div>
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus nunc eget elementum mollis. Fusce tincidunt ex sed ipsum lobortis, eu condimentum risus rutrum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card " data-tilt data-tilt-max="5" data-tilt-speed="100"
                                         data-tilt-perspective="100">
                                        <div class="card-header"><a href="#input" style="font-size: 1.1rem;">Cat. 3</a></div>
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus nunc eget elementum mollis. Fusce tincidunt ex sed ipsum lobortis, eu condimentum risus rutrum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card" data-tilt data-tilt-max="5" data-tilt-speed="100"
                                         data-tilt-perspective="100">
                                        <div class="card-header"><a href="#input" style="font-size: 1.1rem;">Cat. 4</a></div>
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus nunc eget elementum mollis. Fusce tincidunt ex sed ipsum lobortis, eu condimentum risus rutrum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card" id="inp1" data-tilt data-tilt-max="2" data-tilt-speed="100"
                         data-tilt-perspective="500">
                        <div class="card-header">
                            <h4>Liver Function Test Report Details</h4>
                        </div>
                        <div class="card-body">
                            <form action="/smart/check-for-liver" method="post" class="custom-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="name" class="col-form-label col-md-6">Name:</label>
                                            <input type="text" id="name" name="name" class="form-control col-md-6"
                                                   placeholder="Full Name" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="age" class="col-form-label col-md-6">Age:</label>
                                            <input type="text" id="age" name="age" class="form-control col-md-6"
                                                   placeholder="Enter your age" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="gender" class="col-form-label col-md-6">Gender(M/F):</label>
                                            <input type="text" id="gender" name="gender" class="form-control col-md-6"
                                                   placeholder="Gender(M/F)" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="tb" class="col-form-label col-md-6">Total Bilirubin:</label>
                                            <input type="number" id="tb" name="tb" class="form-control col-md-6"
                                                   placeholder="Total Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="db" class="col-form-label col-md-6">Direct Bilirubin:</label>
                                            <input type="number" id="db" name="db" class="form-control col-md-6"
                                                   placeholder="Direct Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ap" class="col-form-label col-md-6">Alkaline Phosphotase:</label>
                                            <input type="number" id="ap" name="ap" class="form-control col-md-6"
                                                   placeholder="Alkaline Phosphotase level" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-right">
                                        <div class="form-group row">
                                            <label for="aa" class="col-form-label col-md-6">Alamine Aminotransferase:</label>
                                            <input type="number" id="aa" name="aa" class="form-control col-md-6"
                                                   placeholder="Alamine Aminotransferase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="apa" class="col-form-label col-md-6">Aspartate Aminotransferase:</label>
                                            <input type="number" id="apa" name="apa" class="form-control col-md-6"
                                                   placeholder="Aspartate Aminotransferase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="tp" class="col-form-label col-md-6">Total Proteins:</label>
                                            <input type="number" id="tp" name="tp" class="form-control col-md-6"
                                                   placeholder="Total Proteins" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="alb" class="col-form-label col-md-6">Albumin:</label>
                                            <input type="number" id="alb" name="alb" class="form-control col-md-6"
                                                   placeholder="Albumin level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="abratio" class="col-form-label col-md-6">Albumin Globulin Ratio:</label>
                                            <input type="number" id="abratio" name="abratio" class="form-control col-md-6"
                                                   placeholder="Albumin Globulin Ratio" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-outline-danger btn-cust">Submit</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card" id="inp2" data-tilt data-tilt-max="2" data-tilt-speed="100"
                         data-tilt-perspective="500">
                        <div class="card-header">
                            <h4>Cat. 2 Test Report Details</h4>
                        </div>
                        <div class="card-body">
                            <form action="/smart/sdf" method="post" class="custom-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="ame" class="col-form-label col-md-6">Name:</label>
                                            <input type="text" id="ame" name="ame" class="form-control col-md-6"
                                                   placeholder="Full Name" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="gender" class="col-form-label col-md-6">Gender(M/F):</label>
                                            <input type="text" id="gender" name="gender" class="form-control col-md-6"
                                                   placeholder="Gender(M/F)" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="tb" class="col-form-label col-md-6">Total Bilirubin:</label>
                                            <input type="number" id="tb" name="tb" class="form-control col-md-6"
                                                   placeholder="Total Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="db" class="col-form-label col-md-6">Direct Bilirubin:</label>
                                            <input type="number" id="db" name="db" class="form-control col-md-6"
                                                   placeholder="Direct Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ap" class="col-form-label col-md-6">Alkaline Phosphotase:</label>
                                            <input type="number" id="ap" name="ap" class="form-control col-md-6"
                                                   placeholder="Alkaline Phosphotase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="aa" class="col-form-label col-md-6">Alamine Aminotransferase:</label>
                                            <input type="number" id="aa" name="aa" class="form-control col-md-6"
                                                   placeholder="Alamine Aminotransferase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="alb" class="col-form-label col-md-6">Albumin:</label>
                                            <input type="number" id="alb" name="alb" class="form-control col-md-6"
                                                   placeholder="Albumin level" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-right">
                                        <div class="form-group row">
                                            <label for="ame" class="col-form-label col-md-6">Name:</label>
                                            <input type="text" id="ame" name="ame" class="form-control col-md-6"
                                                   placeholder="Full Name" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="gender" class="col-form-label col-md-6">Gender(M/F):</label>
                                            <input type="text" id="gender" name="gender" class="form-control col-md-6"
                                                   placeholder="Gender(M/F)" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="tb" class="col-form-label col-md-6">Total Bilirubin:</label>
                                            <input type="number" id="tb" name="tb" class="form-control col-md-6"
                                                   placeholder="Total Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="db" class="col-form-label col-md-6">Direct Bilirubin:</label>
                                            <input type="number" id="db" name="db" class="form-control col-md-6"
                                                   placeholder="Direct Bilirubin" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ap" class="col-form-label col-md-6">Alkaline Phosphotase:</label>
                                            <input type="number" id="ap" name="ap" class="form-control col-md-6"
                                                   placeholder="Alkaline Phosphotase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="aa" class="col-form-label col-md-6">Alamine Aminotransferase:</label>
                                            <input type="number" id="aa" name="aa" class="form-control col-md-6"
                                                   placeholder="Alamine Aminotransferase level" required/>
                                        </div>
                                        <div class="form-group row">
                                            <label for="alb" class="col-form-label col-md-6">Albumin:</label>
                                            <input type="number" id="alb" name="alb" class="form-control col-md-6"
                                                   placeholder="Albumin level" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-outline-danger btn-cust">Submit</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>


    <!--<div class="parallax-container" id="img">
            <div class="parallax">
                <img src="{% static 'smart/images/bghome8.jpg' %}"/>
            </div>
            <div class="content container">
                <h1>Online Image resizer and optimizer</h1>
              {% if image %}
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button"><a href="/smart/imageView{{ image.id }}/">View Image</a></button>
                        </div>
                    </div>
                    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="/media/images/jug5.jpg" width="30px"/></a>
                {% else %}
                    <form action="/smart/imageUpload/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Image: </h3>
                            </div>
                            <div class="col-md-3">
                                <input type="file" name="image" class=""/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="iname">Image Name:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="iname" class="form-control" id="iname" placeholder="Image Name"
                                       value="" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Add Record</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>-->
    <div class="parallax-container" id="about">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome7.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>ABOUT</h1>

            <!--<button id="hide">Try it</button>

            <div id="myDIV">
                This is my DIV element.
            </div> -->
        </div>
    </div>
    <div class="parallax-container" id="contact">
        <div class="parallax">
            <img src="{% static 'smart/images/bghome6.jpg' %}"/>
        </div>
        <div class="content container">
            <h1>CONTACT US</h1>
        </div>
    </div>
{% endblock %}