{% extends 'smart/base.html' %}
{% block out %}
    {% load staticfiles %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../../static/smart/images/favicon2.ico">

    <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/navigationBar.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/parallax.css' %}">

    <script type="text/javascript" src="{% static 'smart/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/materialize.min.js' %}"></script>

    <title>Smart Medical Diagnosis</title>

    <style>
        body, html {
            height: 100%;

            /* The image used */
            background-image: url("../../static/smart/images/bghome6.jpg");
            background-color: black;

            /* Full height */
            height: 100% !important;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="bg">
<div id="nav-bar">
    <nav class="navbar navbar-expand-sm navbar-dark navcust navmar">
        <div>
            <div class="navbar-brand link-font py-0">
                <a href="/">SmartDiag</a>
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ntopnav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="mid" id="mid">
            <div class="borderYtoX collapse navbar-collapse" id="ntopnav">
                <ul class="nav navbar-nav mr-auto py-0">
                    <li><a href="/smart/">HOME</a></li>
                    <li><a href="/smart/" id="inp1-button">LIVER DISEASE</a></li>
                    <li><a href="/smart/" id="inp2-button">BREAST CANCER</a></li>
                    <li><a href="/smart/" id="about-button">ABOUT</a></li>
                    <li><a href="/smart/" id="cont-button">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>-->


<div class="content container container-custom">
    <h2>Smart Diagonosis Report</h2>
    <hr>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            <table class="table table-borderless table-hover">
                <tr>
                    <th>Patient Name:</th>
                    <td>{{ result.name }}</td>
                    <th>Patient Age:</th>
                    <td>{{ result.age }}</td>
                </tr>
                <tr>
                    <th>Patient ID:</th>
                    <td>{{ result.id }}</td>
                    <th>Patient Gender:</th>
                    <td>{{ result.gender }}</td>
                </tr>
            </table>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless table-hover">
                        <tr>
                            <td></td>
                            <th>Expected</th>
                            <th>Actual</th>
                        </tr>
                        <tr>
                            <th>Total Bilirubin:</th>
                            <td></td>
                            <td>{{ result.total_bilirubin }}</td>
                        </tr>
                        <tr>
                            <th>Direct Bilirubin:</th>
                            <td></td>
                            <td>{{ result.direct_bilirubin }}</td>
                        </tr>
                        <tr>
                            <th>Alkaline Phosphotase:</th>
                            <td></td>
                            <td>{{ result.alkaline_phosphotase }}</td>
                        </tr>
                        <tr>
                            <th>Alamine Aminotransferase:</th>
                            <td></td>
                            <td>{{ result.alamine_aminotransferase }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless table-hover">
                        <tr>
                            <td>
                            <th>Expected</th>
                            <th>Actual</th>
                        </tr>
                        <tr>
                            <th>Aspartate Aminotransferase:</th>
                            <td></td>
                            <td>{{ result.aspartate_aminotransferase }}</td>
                        </tr>
                        <tr>
                            <th>Total Proteins:</th>
                            <td></td>
                            <td>{{ result.total_proteins }}</td>
                        </tr>
                        <tr>
                            <th>Albumin:</th>
                            <td></td>
                            <td>{{ result.albumin }}</td>
                        </tr>
                        <tr>
                            <th>Albumin Globulin Ratio:</th>
                            <td></td>
                            <td>{{ result.albuminGlobulin_ratio }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <hr>
    {% if result.hasDisease == 1 %}
        <h3>Patient has liver disease</h3>
    {% else %}
        <h3>Patient has no liver disease</h3>
    {% endif %}
</div>
{% endblock %}


<!--</body>
</html>

-->