{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../../static/smart/images/favicon2.ico">

    <link rel="stylesheet" href="{% static 'smart/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/allElements.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/parallax.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/output.css' %}">

    <script type="text/javascript" src="{% static 'smart/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/materialize.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
            integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy"
            crossorigin="anonymous"></script>

    <title>Smart Medical Diagnosis</title>

</head>
<body class="bg">
<div id="nav-bar">
    <nav class="navbar navbar-expand-sm navbar-dark navcust navmar fixed-top" id="output-nav">
        <div>
            <div class="navbar-brand link-font py-0">
                <a href="/">SmartDiag</a>
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ntopnav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="mid">
            <div class="borderYtoX collapse navbar-collapse" id="ntopnav">
                <ul class="nav navbar-nav mr-auto py-0">
                    <li><a href="/#main">HOME</a></li>
                    <li class="dropdown">
                        <a class="dropbtn" href="" data-toggle="dropdown">CATEGORY</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item inp1-button" href="/#input" id="inp1-button">Liver</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item inp2-button" href="/#input" id="inp2-button">Breast
                                Cancer</a>
                        </div>
                    </li>

                    <li><a href="{% url 'smart:history' %}" id="about-button">HISTORY</a></li>
                    <li><a href="/#about" id="about-button">ABOUT</a></li>
                    <li><a data-toggle="modal" data-target="#modalContactForm" id="cont-button">CONTACT US</a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="borderYtoX">
            <ul class="nav-login float-right nav navbar-nav py-0">
                <li><a href="{% url 'smart:logout_user' %}" style="font-size: 1.5rem; padding: 8px 18px 12px;"
                       id="login-button">
                    <i class="fas fa-sign-in-alt prefix mr-2"></i>Logout</a></li>
            </ul>
        </div>


    </nav>
</div>
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <form action="https://formspree.io/soham5959595@gmail.com" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="form34" name="cu-name" class="form-control validate">
                        <label for="form34">Your name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="form29" name="cu-mail" class="form-control validate">
                        <label for="form29">Your email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input type="text" id="form32" name="cu-subject" class="form-control validate">
                        <label for="form32">Subject</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea type="text" id="form8" name="cu-message" class="md-textarea form-control"
                                  rows="4"></textarea>
                        <label for="form8">Your message</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-brown">Send <i class="fas fa-paper-plane ml-1"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="modalLoginForm" role="dialog" tabindex="-1">
    <form action="{% url 'smart:login_user' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        {% if error_message %}
                            <script>
                                function modalFunc() {
                                    $('#modalLoginForm').modal("show");
                                }

                                modalFunc();
                            </script>
                            <p id="login-error"><strong>{{ error_message }}</strong></p>
                        {% endif %}
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" name="username" class="form-control" required/>
                        <label for="defaultForm-email">Username</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" name="password" class="form-control" required/>
                        <label for="defaultForm-pass">Your password</label>
                    </div>
                    <button type="submit" class="btn btn-default float-right">Login</button>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a
                       style="color: black!important; font-size: 1.2rem" >Don't have an
                        account? Signup</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>
{% block predict %}
    {% if LiverResult %}
        <div class="content container container-custom">
        <h2>Liver Cancer Diagonosis</h2>
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-10">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>Patient Name:</th>
                        <td>{{ LiverResult.name }}</td>
                        <th>Patient Age:</th>
                        <td>{{ LiverResult.age }}</td>
                    </tr>
                    <tr>
                        <th>Patient ID:</th>
                        <td>{{ LiverResult.id }}</td>
                        <th>Patient Gender:</th>
                        <td>{{ LiverResult.gender }}</td>
                    </tr>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-borderless table-hover">
                            <tr>
                                <td></td>
                                <th>Actual</th>
                                <th>Expected</th>
                            </tr>
                            <tr>
                                <th>Total Bilirubin:</th>
                                <td>{{ LiverResult.total_bilirubin }}</td>
                                <td>0.1-1.2</td>
                            </tr>
                            <tr>
                                <th>Direct Bilirubin:</th>
                                <td>{{ LiverResult.direct_bilirubin }}</td>
                                <td>0.3-5.1</td>
                            </tr>
                            <tr>
                                <th>Alkaline Phosphotase:</th>
                                <td>{{ LiverResult.alkaline_phosphotase }}</td>
                                <td>10-40</td>
                            </tr>
                            <tr>
                                <th>Alamine Aminotransferase:</th>
                                <td>{{ LiverResult.alamine_aminotransferase }}</td>
                                <td>10-40</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless table-hover">
                            <tr>
                                <td></td>
                                <th>Actual</th>
                                <th>Expected</th>
                            </tr>
                            <tr>
                                <th>Aspartate Aminotransferase:</th>
                                <td>{{ LiverResult.aspartate_aminotransferase }}</td>
                                <td>10-40</td>
                            </tr>
                            <tr>
                                <th>Total Proteins:</th>
                                <td>{{ LiverResult.total_proteins }}</td>
                                <td>6-8.3</td>
                            </tr>
                            <tr>
                                <th>Albumin:</th>
                                <td>{{ LiverResult.albumin }}</td>
                                <td>3.5-5.5</td>
                            </tr>
                            <tr>
                                <th>Albumin Globulin Ratio:</th>
                                <td>{{ LiverResult.albuminGlobulin_ratio }}</td>
                                <td>0.8-2.0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <hr>
        {% if result.hasDisease == 1 %}
            <h4>Patient has liver disease</h4>
        {% else %}
            <h4>Patient has no liver disease</h4>
        {% endif %}

    {% else %}
        <div class="content container container-custom">
        <h2>Breast Cancer Diagonosis</h2>
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-10">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>Patient Name:</th>
                        <td>{{ name }}</td>
                        <th>Patient Age:</th>
                        <td>{{ age }}</td>
                    </tr>
                    <tr>
                        <th>Patient ID:</th>
                        <td>{{ result.id }}</td>
                        <th>Patient Gender:</th>
                        <td>{{ gender }}</td>
                    </tr>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-borderless table-hover">
                            <tr>
                                <td></td>
                                <th>Actual</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Radius Mean:</th>
                                <td>{{ result.radius_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Texture Mean:</th>
                                <td>{{ result.texture_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Perimeter Mean :</th>
                                <td>{{ result.perimeter_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Area Mean:</th>
                                <td>{{ result.area_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Smoothness Mean:</th>
                                <td>{{ result.smoothness_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Compactness Mean:</th>
                                <td>{{ result.compactness_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concavity Mean:</th>
                                <td>{{ result.concavity_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concave Points Mean:</th>
                                <td>{{ result.concave_points_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Symmetry Mean:</th>
                                <td>{{ result.symmetry_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Fractal Dimension Mean:</th>
                                <td>{{ result.fractal_dimension_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Radius SE:</th>
                                <td>{{ result.radius_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Texture SE:</th>
                                <td>{{ result.texture_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Perimeter SE:</th>
                                <td>{{ result.perimeter_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Area SE:</th>
                                <td>{{ result.area_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Smoothness SE:</th>
                                <td>{{ result.smoothness_se }}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless table-hover">
                            <tr>
                                <td></td>
                                <th>Actual</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Compactness SE :</th>
                                <td>{{ result.compactness_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concavity SE:</th>
                                <td>{{ result.concavity_mean }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concave Points SE:</th>
                                <td>{{ result.concave_points_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Symmetry SE:</th>
                                <td>{{ result.symmetry_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Fractal Dimension SE:</th>
                                <td>{{ result.fractal_dimension_se }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Radius Worst:</th>
                                <td>{{ result.radius_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Texture Worst:</th>
                                <td>{{ result.texture_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Perimeter Worst :</th>
                                <td>{{ result.perimeter_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Area Worst:</th>
                                <td>{{ result.area_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Smoothness Worst:</th>
                                <td>{{ result.smoothness_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Compactness Worst:</th>
                                <td>{{ result.compactness_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concavity Worst:</th>
                                <td>{{ result.concavity_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Concave Points Worst:</th>
                                <td>{{ result.concave_points_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Symmetry Worst:</th>
                                <td>{{ result.symmetry_worst }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Fractal Dimension Worst:</th>
                                <td>{{ result.fractal_dimension_worst }}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <hr>
        {% if result.hasDisease == 1 %}
            <h4>Patient has Breast Cancer</h4>
        {% else %}
            <h4>Patient has no Breast Cancer</h4>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block history %}
{% endblock %}

<footer id="contact" class="container-fluid" style="margin-top: 20rem">
    <div class="row">
        <div class="left-footer col-md-8">
            <span class="footer-text">Have any queries? Contact us at smartdiag.support@gmail.com or call us on +91 8073276763.</span>
        </div>
        <div class="right-footer col-md-4">
            <span class="linkto" onclick="location='https://github.com/soham595/smartDiag'"><i
                    class="fab fa-github-square prefix mr-1"></i>GitHub</span>&ensp
            <span>-</span>&ensp
            <span class="linkto" data-toggle="modal" data-target="#modalContactForm"><i
                    class="fa fa-envelope prefix mr-1"></i>Contact Us</span>&ensp
            <span>-</span>&ensp
            <span class="linkto" data-toggle="modal" data-target="#modalLoginForm"><i
                    class="fas fa-sign-in-alt prefix mr-1"></i>Login</span>
        </div>
    </div>
</footer>
</body>
</html>
