{% extends 'smart/base.html' %}
{% block out %}
    {% load staticfiles %}

    {% if res == 1 %}
        <h3>Patient has liver disease</h3>
        <h3>sdfsdfsdf</h3>
        <h3>sdfsdfsdf</h3>
        <h3>sdfsdfsdf</h3>
        <h3>sdfsdfsdf</h3>
        <h3>sdfsdfsdf</h3>
    {% else %}
        <div class="content container container-custom">
            <h2>Smart Diagonosis Report</h2>
            <hr>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-10">
                    <table class="table table-borderless table-hover">
                        <tr>
                            <th>Patient Name: </th>
                            <td>etc</td>
                            <th>Patient Age: </th>
                            <td>ssfsdf</td>
                        </tr>
                        <tr>
                            <th>Patient ID: </th>
                            <td>gfd</td>
                            <th>Patient Gender: </th>
                            <td>iuyt</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-borderless table-hover">
                                <tr>
                                    <td></td>
                                    <th>Actual</th>
                                    <th>Expected</th>
                                </tr>
                                <tr>
                                    <th>Total Bilirubin:</th>
                                    <td></td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Direct Bilirubin:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Alkaline Phosphotase:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Alamine Aminotransferase:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-borderless table-hover">
                                <tr>
                                    <td></td>
                                    <th>Actual</th>
                                    <th>Expected</th>
                                </tr>
                                <tr>
                                    <th>Aspartate Aminotransferase:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Total Proteins:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Albumin:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                                <tr>
                                    <th>Albumin Globulin Ratio:</th>
                                    <td>    </td>
                                    <td>(&emsp;&emsp;)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <h3>Patient has no liver disease</h3>
        </div>
    {% endif %}
{% endblock %}