{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/train.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/particles.css' %}">

    <script type="text/javascript" src="{% static 'smart/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/bootstrap.min.js' %}"></script>

    <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>-->

    <title>Training Model</title>

    <!--<style>
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url("../../static/smart/images/loader.gif") center no-repeat #fff;
        }
    </style>
    <script>
        $(window).load(function () {
            $(".se-pre-con").fadeOut("slow");
        });
    </script>-->
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="/smart/save-weights" method="post">
                {% csrf_token %}
                <p id="trainp">Your model is being trained, please wait...</p>
                <h1 id="trainh">Click the Button</h1>
                <button type="submit" class="btn btn-danger" id="train">Train Model</button>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'smart/js/anime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/demo.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/show.js' %}"></script>
</html>