{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/train.css' %}">
    <link rel="stylesheet" href="{% static 'smart/css/particles.css' %}">

    <script type="text/javascript" src="{% static 'smart/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart/js/bootstrap.min.js' %}"></script>

    <title>Training Model</title>

</head>
<body>
<div class="container">
    <div class="row train-container">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="/smart/save-weights-liver" method="post">
                {% csrf_token %}
                <p id="trainpLiver">Your model is being trained, please wait...</p>
                <h1 id="trainhLiver">Liver Model</h1>
                <button type="submit" class="btn btn-danger" id="trainLiver">Train Model</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row train-container">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="/smart/save-weights-bc" method="post">
                {% csrf_token %}
                <p id="trainpBC">Your model is being trained, please wait...</p>
                <h1 id="trainhBC">Breast Cancer Model</h1>
                <button type="submit" class="btn btn-danger" id="trainBC">Train Model</button>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'smart/js/anime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/demo.js' %}"></script>
<script type="text/javascript" src="{% static 'smart/js/show.js' %}"></script>
</html>